application/sessions/*
!application/sessions/index.html
.DS_Store
application/logs/json/*
assets/img/accounts/*
db.ini
errors_log
myschoolgh.db
assets/img/users/*
assets/uploads/*
!assets/img/users/index.html
!assets/uploads/index.html