RewriteEngine on
RewriteBase /myschoolgh/SchoolManager
RewriteCond $1 !^(index\.php|assets|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
RewriteRule !\.(txt|xml|gif|jpg|png|css|js|ico|pdf|jpeg|json|woff2|mp4|map|otf|svg|xlsx|xls|ttf|woff|csv)$ index.php