.navbar-bg {
    background-color: #ffa500e6;
}
.card-header, .modal-header {
    font-weight: bold;
    border-bottom: solid 3px #ffa500!important;
    border-bottom-color: #ffa500!important;
}
.bg-info {
    background-color: #ffa500e6 !important;
}
.text-primary, .text-primary-all *, .text-primary-all *:before, .text-primary-all *:after {
    color: #f9a711 !important;
}
.slim-scroll::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    background-color: #919599;
}
.slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffa500;
}
.trix-slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #b4b4b4;
}
.trix-slim-scroll::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background-color: #ffa500;
}
.trix-slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #ffa500;
}
.btn-info, .btn-info.disabled {
    box-shadow: 0 2px 6px #8f8985;
    background-color: #ffa117;
    border-color: #ffa117;
    color: #fff;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active {
    background-color: #c38005 !important;
}