.endpoint-container {
    width: 90%;
    margin: auto auto;
}

.hidden {
    display: none!important;
}

.required {
    color: #ff3366;
}

.cursor {
    cursor: pointer;
}

.sidebar-light .slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #fff;
}

.dark-sidebar .slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #0c1427;
}

.contentoverlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.contentoverlay .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.contentoverlay i.fa {
    display: block !important;
    margin: auto !important;
}

.pageoverlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.pageoverlay .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.pageoverlay i.fa {
    display: block !important;
    margin: auto !important;
}

.form-content-loader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.form-content-loader .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.form-content-loader i.fa {
    display: block !important;
    margin: auto !important;
}

.slim-scroll::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    background-color: #919599;
}

.slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #919599;
}

.trix-slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #b4b4b4;
}

.trix-slim-scroll::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: #919599;
}

.trix-slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #919599;
}

.ajax-data-form trix-editor {
    min-height: 250px;
    max-height: 350px;
}

.leave-comment-wrapper trix-editor {
    min-height: 250px;
    max-height: 350px;
}

.form-data-unavailable {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 400px;
    /* background: rgba(255, 255, 255, 0.85); */
    top: 0;
    left: 0;
}

.dark-sidebar .modal .close {
    color: #fff!important;
}

.dark-sidebar .upload-overlay-cover,
.dark-sidebar .form-content-loader,
.dark-sidebar .form-overlay-cover,
.dark-sidebar .pageoverlay,
.dark-sidebar .contentoverlay,
.dark-sidebar .absolute-content-loader {
    background-color: #0a0e18ea;
}

.dark-sidebar .file-preview .bg-inverse-primary {
    background-color: #050a14;
}

.dark-sidebar trix-toolbar .trix-button.trix-active {
    background: #fff!important;
    color: #050a14;
}

.dark-sidebar trix-toolbar .trix-button--icon {
    background: #fff;
    color: #fff!important;
}

.select2-container {
    min-width: 230px;
}

.modal-dialog-right.left .modal-dialog,
.modal-dialog-right.right .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 600px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-dialog-right.left .modal-content,
.modal-dialog-right.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.modal-dialog-right.right.fade .modal-dialog {
    right: 5px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal-dialog-right.right.fade.in .modal-dialog {
    right: 0;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

textarea.form-control {
    height: 100px !important;
}

.attachment-container .file-options {
    position: absolute;
    right: 2px;
    top: 3px;
}

.attachment-container .attachment-item:hover .file-options {
    display: block!important;
}

.attachment-container .attachment-item {
    padding-top: 10px;
    max-height: 180px;
    overflow: hidden;
}

.message_list_day_divider_label {
    cursor: default;
    display: block;
    height: .1px;
    top: 14px;
    border: none;
    text-align: center;
    z-index: 298;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message_list_day_divider_label_pill {
    font-size: 13px;
    height: 28px;
    line-height: 17px;
    padding: 0 16px;
    z-index: 295;
    text-align: center;
    border: solid .3px #c8c4c4;
}

.message_list_day_divider_label_pill {
    background: #ffff;
    display: inline-block;
    z-index: 298;
    top: -13px;
    border-radius: 24px;
    position: relative;
}