.endpoint-container {
    width: 90%;
    margin: auto auto;
}

.hidden {
    display: none!important;
}

.required {
    color: #ff3366;
}

.cursor {
    cursor: pointer;
}

.sidebar-light .slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #fff;
}

.dark-sidebar .slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #0c1427;
}

.contentoverlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.contentoverlay .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.contentoverlay i.fa {
    display: block !important;
    margin: auto !important;
}

.pageoverlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.pageoverlay .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.pageoverlay i.fa {
    display: block !important;
    margin: auto !important;
}

.form-content-loader {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.form-content-loader .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.form-content-loader i.fa {
    display: block !important;
    margin: auto !important;
}

.slim-scroll::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    background-color: #919599;
}

.slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #007bff;
}

.trix-slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #b4b4b4;
}

.trix-slim-scroll::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: #007bff;
}

.trix-slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #007bff;
}

.ajax-data-form trix-editor {
    min-height: 250px;
    max-height: 250px;
}

.leave-comment-wrapper trix-editor {
    min-height: 250px;
    max-height: 250px;
}

.form-data-unavailable {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 400px;
    /* background: rgba(255, 255, 255, 0.85); */
    top: 0;
    left: 0;
}

.dark-sidebar .modal .close {
    color: #fff!important;
}

.dark-sidebar .upload-overlay-cover,
.dark-sidebar .form-content-loader,
.dark-sidebar .form-overlay-cover,
.dark-sidebar .pageoverlay,
.dark-sidebar .contentoverlay,
.dark-sidebar .absolute-content-loader {
    background-color: #0a0e18ea;
}

.dark-sidebar .file-preview .bg-inverse-primary {
    background-color: #050a14;
}

.dark-sidebar trix-toolbar .trix-button.trix-active {
    background: #fff!important;
    color: #050a14;
}

.dark-sidebar trix-toolbar .trix-button--icon {
    background: #fff;
    color: #fff!important;
}

.select2-container {
    /* min-width: 230px; */
}

.modal-dialog-right.left .modal-dialog,
.modal-dialog-right.right .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 600px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-dialog-right.left .modal-content,
.modal-dialog-right.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.modal-dialog-right.right.fade .modal-dialog {
    right: 5px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal-dialog-right.right.fade.in .modal-dialog {
    right: 0;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

textarea.form-control {
    height: 100px !important;
}

.attachment-container .attachment-item {
    border-radius: 10px 10px 0px 0px;
}

.attachment-container .file-options {
    position: absolute;
    z-index: 9999;
    right: 2px;
    top: 3px;
}

.attachment-container .attachment-item:hover .file-options {
    display: block!important;
}

.attachment-container .attachment-item {
    padding-top: 10px;
    height: 160px!important;
    max-height: 160px!important;
    overflow: hidden;
}

.attachment-container .file_caption {
    padding-top: 5px;
    background: #607d8b;
    color: #fff;
    height: 80px;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

.message_list_day_divider_label {
    cursor: default;
    display: block;
    height: .1px;
    top: 14px;
    border: none;
    text-align: center;
    z-index: 298;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message_list_day_divider_label_pill {
    font-size: 13px;
    height: 28px;
    line-height: 17px;
    padding: 0 16px;
    z-index: 295;
    text-align: center;
    border: solid .3px #c8c4c4;
}

.message_list_day_divider_label_pill {
    background: #ffff;
    display: inline-block;
    z-index: 298;
    top: -13px;
    border-radius: 24px;
    position: relative;
}

.replies-item .fullname:hover {
    text-decoration: underline;
}

.replies-item .replies-timestamp:hover {
    text-decoration: underline;
    cursor: pointer;
}

.replies-item img.user-image {
    width: 80px;
    height: 70px;
    border-radius: 6px;
}

.replies-item .attachments_list img {
    height: 158px;
    width: 100%;
}

.replies-item .reply-options {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
}

.pseudo-bg-Aquamarine:after {
    background-color: #1de9b6;
}

.pseudo-bg-blue:after {
    background-color: #417dfc;
}

.pseudo-bg-yellow:after {
    background-color: #ffaa01;
}

.pseudo-bg-red:after {
    background-color: #ff0000;
}

.pseudo-bg-pink:after {
    background-color: #f939a1;
}

.student-report {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.student-report:before {
    content: "";
    height: 58px;
    width: 1px;
    background-color: #d7d7d7;
    position: absolute;
    top: -15px;
    right: 50%;
    transform: translateX(-50%);
}

.student-report .student-count {
    position: relative;
}

.student-report .student-count .item-title {
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 2px;
}

.student-report .student-count .item-number {
    font-size: 16px;
    color: #111111;
    font-weight: 500;
}

.student-report .student-count:after {
    content: "";
    height: 6px;
    width: 49px;
    border-radius: 6px;
    position: absolute;
    top: -18px;
    left: 0;
}

.student-report .student-count:last-child:before {
    display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #607D8B;
}

.main-footer {
    margin-top: 0px!important;
}

.border-radius {
    border-radius: 10px;
}

.public_comment {
    border-bottom: solid #ccc 1px;
    cursor: text;
    padding: 10px;
    padding-bottom: 0px;
    max-height: 200px;
    overflow-y: auto;
    outline: none;
}

.public_comment:focus-within {
    border-bottom: solid 1px #000;
}

.comments_counter {
    font-size: 20px;
}

.tx-12 {
    font-size: 12px!important;
}

.settingSidebar {
    width: 350px;
    right: -350px;
}

.font-18px {
    font-size: 18px!important;
}

.font-20px {
    font-size: 20px!important;
}

.font-25px {
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    .settingSidebar {
        display: block!important;
    }
    .settingSidebar {
        width: 350px;
        right: -350px;
    }
}

@media only screen and (max-width: 575.98px) {
    .settingSidebar {
        display: block!important;
    }
    .settingSidebar {
        width: 285px;
        right: -289px;
    }
}

.app-foottag {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    background-color: #fff;
    width: 100%;
}

.border-red {
    border: solid 1px #ff4000;
}

label {
    font-weight: bold;
}

.custom-600px {
    max-height: 600px;
    overflow-y: auto;
}

.card-header {
    font-weight: bold;
    border-bottom: solid 3px #54a7f4!important;
    border-bottom-color: #54a7f4!important;
}