.endpoint-container {
    width: 90%;
    margin: auto auto;
}

.hidden {
    display: none!important;
}

.required {
    color: #ff3366;
}

.cursor {
    cursor: pointer;
}

.sidebar-light .slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #fff;
}

.dark-sidebar .slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #0c1427;
}

.contentoverlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.contentoverlay .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.contentoverlay i.fa {
    display: block !important;
    margin: auto !important;
}

.pageoverlay {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.pageoverlay .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.pageoverlay i.fa {
    display: block !important;
    margin: auto !important;
}

.form-content-loader {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.form-content-loader {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
}

.form-content-loader .offline-content {
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
}

.form-content-loader i.fa {
    display: block !important;
    margin: auto !important;
}

.slim-scroll::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    background-color: #919599;
}

.slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #007bff;
}

.trix-slim-scroll::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #b4b4b4;
}

.trix-slim-scroll::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: #007bff;
}

.trix-slim-scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #007bff;
}

.ajax-data-form trix-editor {
    min-height: 200px;
    max-height: 200px;
}

.leave-comment-wrapper trix-editor {
    min-height: 200px;
    max-height: 200px;
}

.form-data-unavailable {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 400px;
    top: 0;
    left: 0;
}

.dark-sidebar .modal .close {
    color: #fff!important;
}

.modal-dialog-right.left .modal-dialog,
.modal-dialog-right.right .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 600px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-dialog-right.left .modal-content,
.modal-dialog-right.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.modal-dialog-right.right.fade .modal-dialog {
    right: 5px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal-dialog-right.right.fade.in .modal-dialog {
    right: 0;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

textarea.form-control {
    height: 100px !important;
}

.attachment-container .attachment-item {
    border-radius: 10px 10px 0px 0px;
}

.attachment-container .file-options {
    position: absolute;
    z-index: 9999;
    right: 2px;
    top: 3px;
}

.attachment-container .attachment-item:hover .file-options {
    display: block!important;
}

.attachment-container .attachment-item {
    padding-top: 10px;
    height: 160px!important;
    max-height: 160px!important;
    overflow: hidden;
}

.attachment-container .file_caption {
    padding-top: 5px;
    background: #607d8b;
    color: #fff;
    height: 90px;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

.message_list_day_divider_label {
    cursor: default;
    display: block;
    height: .1px;
    top: 14px;
    border: none;
    text-align: center;
    z-index: 298;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message_list_day_divider_label_pill {
    font-size: 13px;
    height: 28px;
    line-height: 17px;
    padding: 0 16px;
    z-index: 295;
    text-align: center;
    border: solid .3px #c8c4c4;
}

.message_list_day_divider_label_pill {
    background: #ffff;
    display: inline-block;
    z-index: 298;
    top: -13px;
    border-radius: 24px;
    position: relative;
}

.replies-item .fullname:hover {
    text-decoration: underline;
}

.replies-item .replies-timestamp:hover {
    text-decoration: underline;
    cursor: pointer;
}

.replies-item img.user-image {
    width: 80px;
    height: 70px;
    border-radius: 6px;
}

.replies-item .attachments_list img {
    height: 158px;
    width: 100%;
}

.replies-item .reply-options {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
}

.pseudo-bg-Aquamarine:after {
    background-color: #1de9b6;
}

.pseudo-bg-blue:after {
    background-color: #417dfc;
}

.pseudo-bg-yellow:after {
    background-color: #ffaa01;
}

.pseudo-bg-red:after {
    background-color: #ff0000;
}

.pseudo-bg-pink:after {
    background-color: #f939a1;
}

.student-report {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.student-report:before {
    content: "";
    height: 58px;
    width: 1px;
    background-color: #d7d7d7;
    position: absolute;
    top: -15px;
    right: 50%;
    transform: translateX(-50%);
}

.student-report .student-count {
    position: relative;
}

.student-report .student-count .item-title {
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 2px;
}

.student-report .student-count .item-number {
    font-size: 16px;
    color: #111111;
    font-weight: 500;
}

.student-report .student-count:after {
    content: "";
    height: 6px;
    width: 49px;
    border-radius: 6px;
    position: absolute;
    top: -18px;
    left: 0;
}

.student-report .student-count:last-child:before {
    display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #607D8B;
}

.main-footer {
    margin-top: 0px!important;
}

.border-radius {
    border-radius: 10px;
}

.public_comment {
    border-bottom: solid #ccc 1px;
    cursor: text;
    padding: 10px;
    padding-bottom: 0px;
    max-height: 200px;
    overflow-y: auto;
    outline: none;
}

.public_comment:focus-within {
    border-bottom: solid 1px #000;
}

.comments_counter {
    font-size: 20px;
}

.tx-12 {
    font-size: 12px!important;
}

.settingSidebar {
    width: 350px;
    right: -350px;
}

.font-18px {
    font-size: 18px!important;
}

.font-20px {
    font-size: 20px!important;
}

.font-25px {
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    .settingSidebar {
        display: block!important;
    }
    .settingSidebar {
        width: 350px;
        right: -350px;
    }
}

@media only screen and (max-width: 575.98px) {
    .settingSidebar {
        display: block!important;
    }
    .settingSidebar {
        width: 285px;
        right: -289px;
    }
}

.app-foottag {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    background-color: #fff;
    width: 100%;
}

.border-red {
    border: solid 1px #ff4000;
}

label {
    font-weight: bold;
}

.custom-600px {
    max-height: 600px;
    overflow-y: auto;
}

.card-header,
.modal-header {
    font-weight: bold;
    border-bottom: solid 3px #54a7f4!important;
    border-bottom-color: #54a7f4!important;
}

.buy_text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.buy_text span {
    display: block !important;
    margin: auto !important;
}

.buy_container {
    height: 100px;
    border: dashed 1px #ccc;
}

.buy_button {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    z-index: 9999;
    text-align: center;
    background-color: #582013;
}

.pricing {
    z-index: 10;
    height: 32px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 5px #888888;
    background: gold;
    border-top: 5px solid gold;
    border-bottom: 5px solid gold;
    transform: rotate(35deg);
    position: absolute;
    right: 0px;
    top: 0px;
}

.buy_button:hover {
    background-color: #180208;
}

.picomplete-items{
    position: absolute;
    border:1px solid #d4d4d4;
    border-bottom:none;
    border-top:none;
    z-index:99;
    max-width:280px;
}
.picomplete-items div{
    padding:10px;
    cursor:pointer;
    background-color:#fff;
    border-bottom:1px solid #d4d4d4
}
.picomplete-items div:hover{
    background-color: #6777ef;
    color: #fff;
}

.btn-outline-danger {
    background: #fff;
    color: #ff0000;
    border:solid 1px #ff0000;
}

.btn-outline-success {
    background: #fff;
    color: #0e9425!important;
    border:solid 1px #0e9425!important;
}

.btn-outline-success:hover {
    color: #fff;
    background: #0e9425!important;
}

.btn-group button.active {
    color: #fff;
    background-color: #10707f!important;
    border-color: #10707f;
}

.buttons-html5 {
    border-color: #a9afb4!important;
}
.buttons-html5, .print-buttons {
    width:50px;
}

.card {
    border-radius: 5px;
}
.tags {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px;
    color: #000;
    font-size:13px;
    cursor: pointer;
}

.width-100 {
    width:100%;
}

.tags:hover {
    background: #847c7c;
    color: #fff;
}

.chat-box .chat-content .chat-item>img {
    width: 40px!important;
}

.chat-box .chat-content .chat-item.chat-right .chat-details {
    margin-right: 55px;
}

.chat-box .chat-content .chat-item {
    margin-bottom: 20px;
}

.dashboard-height {
    min-height: 260px;
}

.bg-info {
    background-color: #3abaf4b8 !important;
}

.profile-picture {
    width: 210px;
    padding: 10px;
    box-shadow: 0px 1px 2px rgb(59, 59, 59);
}

.card, .card-body, .btn, textarea, input, select, .badge,
.swal-button {
    border-radius: 0px!important;
}

.width-150 {
    width: 150px!important;
}

.width-200 {
    width: 200px!important;
}

.table thead th {
    text-transform: uppercase;
}

.main-sidebar .sidebar-menu li a {
    height: 40px;
}

.hover:hover {
    text-decoration: underline;
}

.height-90px {
    max-height: 90px!important;
}

.nav-tabs .nav-item {
    text-transform: uppercase;
}

.user_name {
    color: #6777ef;
    -webkit-transition: all .5s;
    font-weight: bold;
    text-transform: uppercase;
}

.user_name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.capitalize {
    text-transform:capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.bold_cursor {
    font-weight: bold;
    cursor: pointer;
}

.dashboard_revenue {
    max-height: 465px;
}

@media(max-width:576px){
    .d-sm-none{
        display:none !important
    }
}

@media(max-width:750px) {
    .dashboard_revenue {
        max-height: 665px;
    }
}

.img-shadow {
    box-shadow: 0 5px 15px 0 rgb(105 103 103 / 50%);
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.custom_select {
    width: 200px;
    height: 35px;
    cursor: pointer;
    line-height: 1.5;
    background-color: #fff;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: calc(1.5em + .75rem + 5px);
    border: 1px solid #ced4da;
}

.custom_input {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom_select:disabled, .custom_select[readonly],
.custom_input:disabled, .custom_input[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.dark {
    background-color: #1e1f1f;
}

body.dark .card {
    box-shadow: 0 0;
}

.dark .main-footer {
    background: #031218;
}

body.dark, 
body.dark .close, 
body.dark input.form-control,
body.dark .student-report .student-count .item-number {
    color: #96a2b4;
}

body.dark .text-white, 
body.dark .text-white-all *, 
body.dark .text-white-all *:before, 
body.dark .text-white-all *:after {
    color: #d7dae0!important;
}

body.dark .nav-tabs .nav-item.show .nav-link, 
body.dark .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #353c48;
    /* border-color: #434446 #adb8c4 #fff; */
}

body.dark .main-sidebar,
body.dark .modal-content,
body.dark .navbar-bg, 
body.dark .card {
    background: rgb(3, 18, 24);
    color: #96a2b4;
}

body.dark .main-sidebar .sidebar-menu li a,
body.dark .card-body {
    color: #96a2b4;
}

body.dark .bg-info,
body.dark .btn-outline-success, 
body.dark .btn-outline-danger {
    background-color: rgb(17, 38, 45) !important;
}

body.dark .main-sidebar .sidebar-menu li a:hover {
    background-color: #fcfcfd;
    color: #000;
}

body.dark .main-sidebar .sidebar-menu li a:hover {
    background-color: #fcfcfd;
    color: #000;
}

body.dark .btn-outline-success:hover {
    color: #0e9425!important;
    border: solid 1px #0e9425!important
}

body.dark .btn-outline-danger:hover {
    color: #ff0000!important;
    border: solid 1px #ff0000!important
}

body.dark .page-item .page-link {
    color: #ffffff;
    background: #1e1f1f;
}

body.dark .page-item.active .page-link {
    border-color: #71797d;
}

body.dark .upload-overlay-cover,
body.dark .form-content-loader,
body.dark .form-overlay-cover,
body.dark .pageoverlay,
body.dark .contentoverlay,
body.dark .absolute-content-loader {
    background-color: #0a0e18ea;
}

body.dark .file-preview .bg-inverse-primary {
    background-color: #050a14;
}

body.dark table.dataTable img {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

@media(max-width:900px) {
    .client_name {
        font-size: 40px;
    }
    .amount h4 {
        font-size: 20px;
    }
    .amount label {
        font-size: 12px;
    }
    .sm-hide {
        display: none;
    }
}

@media(max-width:650px) {
    .client_name {
        font-size: 30px;
    }
    .amount {
        display: block;
        float:left;
        margin-right:10px;
    }
    .amount h4 {
        font-size: 14px;
    }
    .amount label {
        font-size: 12px;
    }
    .sm-hide {
        display: none;
    }
}